@model m_cls_Candy

<div class="card">

	<img class="card-img-top" src="@Model.ImageThumbnailUrl" alt="image for candy shop" />
	<div class="card-body">
		<h4 class="card-title">@Model.Name</h4>
		<p class="card-text">@Model.Price.ToString("c")</p>
		<a class="card-link" asp-controller="Candy" asp-action="Details" asp-route-id="@Model.CandyId">See Detail</a>
	</div>
	<div class="addToCart">
		<p class="button">
			<a class="btn btn-primary"
			   asp-controller="ShoppingCart"
			   asp-action="AddToShoppingCart"
			   asp-route-candyId="@Model.CandyId">Add to Cart</a>
		</p>
	</div>

</div>